.player-page{
    margin-left: auto;
    padding-left: auto;
    display: flex;
    justify-content: space-around;
}

.player{
    display: flex;
    padding-inline: auto;
    width: 650px;
}
.button1{
    padding-left: .5rem;
    position: relative;
}

.related-videos{
    font-style: oblique;
    font-variant-caps: all-small-caps;
    padding-inline: auto;
    width: fit-content;
    
}