.player-page{
    margin-left: auto;
    padding-left: auto;
    display: flex;
    justify-content: space-around;
}

.player{
    display: flex;
    padding-inline: auto;
    width: 650px;
}
.button1{
    padding-left: .5rem;
    position: relative;
}
.back-button{
    box-shadow: 1px 2px 5px rgb(151, 146, 141);
}

.related-videos{
    
    padding-inline: auto;
    width: fit-content;  
}

.comments{
    display: grid;
    grid-column: auto;
}